---
import Biography from "../../components/Biography.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="About me">
    <div class="mb-10">
        <Biography title="About me" img="retratog.png">
            Since I was a child, I’ve been fascinated by computers and the logic
            behind programming, always driven by a desire to build meaningful
            solutions. I wrote my first lines of Python at age 12, and since
            then, my relationship with technology has only deepened. I am a
            lifelong learner, dedicated to exploring new technologies every day
            and turning that curiosity into impactful software.
        </Biography>
    </div>
</Layout>
