---
interface Technology{
    name: string
    img: string
}

interface Props {
    title: string;
    technologies: Technology[];
}

const { title, technologies} = Astro.props;
---

<div
    class="relative rounded-xl overflow-hidden bg-transparent border border-zinc-700 p-6 w-full max-w-md cursor-pointer transition-all duration-300 ease-out
               hover:border-blue-500/50 
               hover:shadow-[0_0_30px_rgba(59,130,246,0.1)] 
               hover:-translate-y-1 active:scale-[0.98]"
>
    <div class="relative z-10">
        <div class="flex items-center gap-3 mb-2">
            <span class="text-2xl text-zinc-400">
                <svg
                    stroke="currentColor"
                    fill="currentColor"
                    stroke-width="0"
                    viewBox="0 0 24 24"
                    height="1em"
                    width="1em"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path fill="none" d="M0 0h24v24H0z"></path>
                    <path
                        d="M20 18c1.1 0 1.99-.9 1.99-2L22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2H0v2h24v-2h-4zM4 6h16v10H4V6z"
                    ></path>
                </svg>
            </span>
            <h3 class="text-base font-medium text-zinc-100">{title}</h3>
        </div>
        <div class="border-b border-zinc-600 mb-4"></div><div class="space-y-4">
            <div>
                <ul>
                    {technologies.map((tech) => <li class="flex gap-2 p-2 items-center"><img class="h-7" src=`/${tech.img}` alt="icon" /> {tech.name}</li>)}
                </ul>
            </div>
        </div>
    </div>
</div>
