---
import Button from "./Button.astro";
import Stack from "./Stack.astro";
---

<div class="flex flex-col items-center m-25">
    <div>
        <p class="font-bold text-2xl md:text-4xl">
            Developing, Securing, and Learning
        </p>
        <p class="mr-63 mt-4">Daniel Gayoso Fernandes</p>
    </div>
    <div class="flex flex-wrap p-4 gap-5 mt-12">
        <Stack
            title="Backend"
            technologies={[
                { name: "SpringBoot", img: "springboot.svg" },
                { name: "Express", img: "express.svg" },
            ]}
        />
        <Stack
            title="Frontend"
            technologies={[
                { name: "React", img: "react.svg" },
                { name: "Astro", img: "astro.svg" },
            ]}
        />
        <Stack
            title="DevOps"
            technologies={[
                { name: "Docker", img: "docker.svg" },
                { name: "Git", img: "git.svg" },
                { name: "AWS", img: "aws.svg" },
                { name: "GitHub Actions", img: "github-actions.svg" },
            ]}
        />
        <Stack
            title="Databases"
            technologies={[
                { name: "MySQL", img: "mysql.svg" },
                { name: "PostreSQL", img: "postgresql.svg" },
                { name: "Redis", img: "redis.svg" },
                { name: "MongoDB", img: "mongo.svg" },
            ]}
        />
        <Stack
            title="Cibersecurity"
            technologies={[
                { name: "Ethical Hacking", img: "hacking.svg" },
                { name: "Network Security", img: "network-security.svg" },
                { name: "Linux", img: "linux.svg" },
                { name: "OSINT", img: "osint.png" },
            ]}
        />
    </div>
</div>