---
import Card from "../../components/Card.astro";
import Layout from "../../layouts/Layout.astro";
import data from "../../data/projects.json"

interface Project {
    title: string
    url: string
    description: string
    tags: string[]
}

// const response = await fetch(new URL("/api/projectsApi", Astro.url));
// const data: Project[] = await response.json();

console.log("Data:", data);
---

<Layout title="Projects">
    <div class="flex justify-center mt-25 font-bold text-4xl h-full">
        <div><h1>Projects</h1></div>
    </div>
    
    <div class="flex flex-wrap mx-40 gap-5 mt-10">
        {
            data.map(p => 
                <Card title={p.title} url={p.url} tags={p.tags}>
                    {p.description}
                </Card>
            )
        }
    </div>
</Layout>